<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x7744.homework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeWork">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ColorChart" />
        <activity android:name=".DataToSend" />
        <activity android:name=".ListAct" />
        <activity android:name=".List" />
        <activity android:name=".AltList" />
        <activity android:name=".DatePicker" />
        <activity android:name=".Progress" />
        <activity android:name=".Toast" />
        <activity android:name=".Toasts" />
        <activity android:name=".Notifiations" />
        <activity android:name=".ContextMe" />
        <activity android:name=".OptionMe" />
        <activity android:name=".SharePre"></activity>
    </application>

</manifest>